/* Mixins */
@mixin btn {
    background-color: transparent;
    color: $sec_color;
    padding: .5rem;
    border: 1px solid $sec_color;
    border-radius: 5px;
    font-weight: bold;
    max-width: 15%;
}

@mixin btn_blue {
    background-color: $sec_color;
    color: white;
    max-width: 30%;
}

@mixin link_blue {
    color: $sec_color;
    text-decoration: none;
}

@mixin normal_p {
    padding: 1rem 0;
    font-size: 2.25rem;
    line-height: 1.5;
}