$bg_bisque: bisque;
$main_color: #58402C;
$sec_color: #2C4792;

/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $main_color;
    font-family: 'Roboto', sans-serif;
}

/* Utility */
.container {
    width: 85%;
    margin: auto;
}

.flex {
    display: flex;
}

/* Mixins */
@mixin btn {
    background-color: transparent;
    color: $sec_color;
    padding: .5rem;
    border: 1px solid $sec_color;
    border-radius: 5px;
    font-weight: bold;
}

/*** Header ***/

/* Nav */
.navbar {
    align-items: center;
    border-bottom: 1px solid $main_color;
    padding: 1.5rem 0;
    position: relative;
    .nav_left {
        flex-basis: 15%;
    }
    .nav_right {
        flex-basis: 85%;
        text-align: right;
        ul {
            list-style: none;
            li {
                display: inline;
                padding: 1.5rem;
            };
            button {
                @include btn;
                width: 15%;
                font-size: 1rem;
                img {
                    width: 15%;
                    vertical-align: middle;
                }
                a {
                    color: $sec_color;
                    text-decoration: none;
                }
            }
        }
    }
}

#hamburger {
    display: none;
    color: $main_color;
    font-size: 1.5rem;
    vertical-align: middle;
}

#menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: bisque;
    text-align: right;
    padding: 1rem;
    ul {
        list-style: none;
        li {
            display: inline;
            padding: 1.5rem;
        };
        button {
            @include btn;
            width: 15%;
            font-size: 1rem;
            img {
                width: 25%;
                vertical-align: middle;
            }
            a {
                color: $sec_color;
                text-decoration: none;
            }
        }
    }
}

/* Banner */
#banner {
    height: 400px;
    div.container {
        align-items: center;
        height: 100%;
    }
}


.banner_right, .banner_left {
    height: 100%;
    flex-basis: 50%;
    border: 3px solid black;
}

.banner_right i {
    font-size: 20rem;
}

/*** Main ***/
/* Comparison */
#comparison {
    background-color: $bg_bisque;
}

.comparison_top, .comparison_bottom {
    flex-direction: column;
}

.card {
    flex-basis: calc(100% / 3)
}

.image {
    justify-content: center;
    align-items: center;
}

.image i {
    font-size: 25rem;
}

/* Feature */
.feature_odd, .feature_even {
    width: 100%;
}

.feature_image, .feature_text {
    flex-basis: 50%;
}

.feature_image i {
    font-size: 25rem;
}

.feature_text > i {
    display: block;
    font-size: 17.5rem;
    color: yellow;
}

/* Get Started */
#get_started {
    background-color: $bg_bisque;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#letter {
   width: 33.33%;
   background-color: aliceblue;
   padding: 1rem;
   border: 1px solid $sec_color;
   border-radius: 1rem;
}

/*** Footer ***/
#site_footer ul {
    list-style: none;
}

.col.flex {
    flex-basis: 25%;
}

.col {
    flex-basis:  15%;
}

#site_footer ul li {
    line-height: 2rem;
}

/* Media queries */
@media screen and (max-width: 998px) {
    .container {
        width: 100%;
    }

    .navbar {
        padding: 1.5rem;
    }
    .nav_right ul {
        display: none;
    }
    #hamburger {
        display: block;
    }

}