@import "partials/_variables";
@import "partials/_common";
@import "partials/_mixins";
@import "partials/_header";

/* Utility */
.container {
    width: 85%;
    margin: auto;
}

.flex {
    display: flex;
}

.p_small {
    font-size: 1rem;
    padding: 1rem 0;
}

/*** Main ***/
/* Comparison */
#comparison {
    background-color: $bg_bisque;
    h3 {
        text-align: center;
        width: 60%;
        margin: auto;
        font-size: 2.75rem;
        line-height: 1.5;
        font-weight: 500;
    }
}

.comparison_top, .comparison_bottom {
    flex-direction: column;
    padding: 5rem 0;
    .grid {
        padding: 2.5rem 0;
        .card {
            flex-basis: calc(100% / 3);
            text-align: center;
            margin: 1.5rem;
            img {
                height: 215px;
                padding-bottom: 2rem;
            }
        }
    }
}

.comparison_top {
    border-bottom: 1px solid $main_color;
}


.image {
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    img {
        max-width: 100%;
    }
}

/* Feature */
#features {
    padding: 5rem 0;
}
.feature_odd, .feature_even {
    width: 100%;
    padding-bottom: 2.5rem;
}

.feature_even {
    margin-left: 25%;
}

.feature_image {
    flex-basis: 50%;
}

.feature_image {
    img {
        width: 100%;
    }
}

.feature_text {
    width: 25%;
    h3 {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    p {
        @include normal_p;
        padding: 2.5rem 0;
    }
    a {
        @include link_blue;
        font-size: 1.75rem;
    }
    img {
        display: block;
        width: 100%;
        padding: 2.5rem 0;
    }
}


/* Get Started */
#get_started {
    background-color: $bg_bisque;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#letter {
   width: 33.33%;
   background-color: aliceblue;
   padding: 1rem;
   border: 1px solid $sec_color;
   border-radius: 1rem;
}

/*** Footer ***/
#site_footer ul {
    list-style: none;
}

.col.flex {
    flex-basis: 25%;
}

.col {
    flex-basis:  15%;
}

#site_footer ul li {
    line-height: 2rem;
}

/* Media queries */
@media all and (max-width: 550px) {
    #banner {
        .container {
            flex-wrap: wrap;
        }
        .banner_left, .banner_right {
            flex-basis: 100%;
            text-align: center;
        }
    }

    .comparison_top, .comparison_bottom {
        .grid {
            flex-wrap: wrap;
            .card {
                flex-basis: 100%;
            }
        }        
    }

}

@media all and (max-width: 998px) {
    #site_header {
        .container {
            width: 100%;
        }        
    }

    .navbar {
        padding: 1.5rem;
    }
    .nav_right ul {
        display: none;
    }
    #hamburger {
        display: block;
    }

    #banner {
        .container {
            flex-wrap: wrap;
        }
        .banner_left, .banner_right {
            flex-basis: 100%;
            text-align: center;
        }
    }

    .comparison_top, .comparison_bottom {
        .grid {
            flex-wrap: wrap;
            .card {
                flex-basis: 100%;
                img {
                    max-width: 80%;
                    height: auto;
                }
            }
        }        
    }

    .image {
        img {
            max-width: 80%;
        }
    }

    .feature_odd, .feature_even {
        flex-wrap: wrap;
        margin: 0;
    }

    .feature_image {
        flex-basis: 100%;
    }

    .feature_text {
        width: 100%;
        text-align: center;
        padding: 1.5rem;
        img {
            width: 80%;
            margin: auto;
        }
    }
}